[submodule "dot-emacs.d/edts"]
	path = dot-emacs.d/edts
	url = git://github.com/tjarvstrand/edts.git
[submodule "dot-emacs.d/popup-el"]
	path = dot-emacs.d/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "dot-emacs.d/auto-complete"]
	path = dot-emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "dot-emacs.d/scala-mode2"]
	path = dot-emacs.d/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "dot-emacs.d/ajc-java-complete"]
	path = dot-emacs.d/ajc-java-complete
	url = git://github.com/jixiuf/ajc-java-complete.git
[submodule "dot-emacs.d/yasnippet"]
	path = dot-emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "dot-emacs.d/pyflakes"]
	path = dot-emacs.d/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "dot-emacs.d/pep8"]
	path = dot-emacs.d/pep8
	url = https://github.com/jcrocholl/pep8.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "dot-powerline"]
	path = dot-powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/passcod/tmux-powerline.git
[submodule "dot-tmux-powerline"]
	path = dot-tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "dot-emacs.d/distel"]
	path = dot-emacs.d/distel
	url = git://github.com/massemanet/distel.git
[submodule "SpotifyControl"]
	path = SpotifyControl
	url = git://github.com/dronir/SpotifyControl.git
[submodule "dot-emacs.d/magit"]
	path = dot-emacs.d/magit
	url = git://github.com/magit/magit.git
[submodule "dot-emacs.d/git-modes"]
	path = dot-emacs.d/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "dot-emacs.d/cl-lib"]
	path = dot-emacs.d/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "dot-emacs.d/flymake"]
	path = dot-emacs.d/flymake
	url = https://github.com/illusori/emacs-flymake.git
